<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HotBotEntities" connectionString="metadata=res://*/HotBotModel.csdl|res://*/HotBotModel.ssdl|res://*/HotBotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ALEX-WINDOWS7\SQLEXPRESS;Initial Catalog=HotBot;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>